{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/expense-list.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="alert alert-primary" role="alert">
            To add your expenses, simply forward your bank's expenses email to add@expenses-tracker.histeph.dev.
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <a href="/expenses/{{ prev_month }}" class="btn btn-sm btn-outline-secondary">&lt;</a>
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span data-feather="calendar"></span>
                  {{ selected_timeframe|date:"F Y" }}
                </button>

                <div class="dropdown-menu dropdown-menu-right">
                    {% for month in nav_months %}
                    <a class="dropdown-item" href="/expenses/{{ month|date:'Y-m' }}">{{ month|date:"F Y" }}</a>
                    {% endfor %}
                  </div>
              <a href="/expenses/{{ next_month }}" class="btn btn-sm btn-outline-secondary">&gt;</a>
            </div>

          </div>
        </div>

        <script>
            categories = {{ js_categories|safe }}
            spent = {{ js_total_spent|safe }}
          </script>
        <div id="chart">

        </div>

        {% for k, category in categories.items %}

        <h2>{{ category.name }}</h2> <!-- .name comes from our categories dictionary from views.py -->
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Store</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Category</th>
              </tr>
            </thead>

            <tbody>
              {% for expense in category.expenses %}
              <tr>
                <td>{{ expense.store }}</td>
                <td>{{ expense.amount }} MKD</td>
                <td>{{ expense.date }}</td>
                <td><button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ expense.category }}
                      </button>

                      <div class="dropdown-menu dropdown-menu-right">
                        <form method="POST" action="/categorize-expense">
                          {% csrf_token %}
                          <input type="hidden" name="store_name" value="{{ expense.store }}">
                          <input type="hidden" name="next_url" value="{{ request.path }}">
                          {% for k, category in categories.items %}
                          <button type="submit" class="dropdown-item" name="category_id" value="{{ category.id }}">{{ category.name }}</a>
                          {% endfor %}
                        </form>
                      </div>
                </td>
              </tr>
              {% empty %}
                <tr><td colspan="4">No expenses in this category.</td></tr>

              {% endfor %}
            </tbody>
          </table>
        </div>

        {% endfor %}
      </main>
    </div>
</div>
<div>
  <footer id="footer">Copyright Stephanie B 2019. All rights reserved.</footer>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{% static 'js/expense-list.js' %}"></script>
{% endblock %}
