{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/expense-list.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="alert alert-primary" role="alert">
            To add your expenses, simply forward your bank's expenses email to add@expenses-tracker.histeph.dev.
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <a href="/expenses/{{ prev_month }}" class="btn btn-sm btn-outline-secondary">&lt;</a>
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span data-feather="calendar"></span>
                  {{ selected_timeframe|date:"F Y" }}
                </button>

                <div class="dropdown-menu dropdown-menu-right">
                    {% for month in nav_months %}
                    <a class="dropdown-item" href="/expenses/{{ month|date:'Y-m' }}">{{ month|date:"F Y" }}</a>
                    {% endfor %}
                  </div>
              <a href="/expenses/{{ next_month }}" class="btn btn-sm btn-outline-secondary">&gt;</a>
            </div>

          </div>
        </div>

        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

        {% for k, category in categories.items %}
        <h2>{{ category.name }}</h2> <!-- .name comes from our categories dictionary from views.py -->
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Store</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Category</th>
              </tr>
            </thead>
            <tbody>
              {% for expense in category.expenses %}
              <tr>
                <td>{{ expense.store }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.date }}</td>
                <td><button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                        {{ expense.category }}
                      </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
      </main>
    </div>
  </div>

{% endblock %}
